node-name: {{ k3s_node_name }}
write-kubeconfig-mode: "{{ k3s_write_kubeconfig_mode }}"

tls-san:
{% for san in k3s_tls_sans %}
  - {{ san }}
{% endfor %}

cluster-cidr: {{ k3s_cluster_cidr }}
service-cidr: {{ k3s_service_cidr }}
cluster-dns: {{ k3s_cluster_dns }}
flannel-backend: {{ k3s_flannel_backend }}

disable:
{% for component in k3s_disable_components %}
  - {{ component }}
{% endfor %}

kubelet-arg:
  - "system-reserved={{ k3s_system_reserved }}"
  - "kube-reserved={{ k3s_kube_reserved }}"
  - "eviction-hard={{ k3s_eviction_hard }}"
